*, html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/Assets/pic1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vmin;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
}

.banner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    height: inherit;
}

h1 {
    color: #fff;
    // text-align: center;
}

.type {
    color: red;
}